:root {
    --gradient: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
    --gambarbg:
}

/* * {
    border:2px solid red;
} */

body {
    background-color: #85ffbd;
    background-image: var(--gradient);
    background-size: 200%;
    animation: bg-animation-animation 5s infinite alternate;
}

@keyframes bg-animation-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

body .form {
    padding:50px;
}

body #hero {
    border:2px solid red;
}

.slides{
    width: 100%;
    position: relative;
  }
  
  .slides .slide{
    display: none;
  }
  
  .slides .slide img{
      width: 100%;
    position: center
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  .slides .navigation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .slides .navigation .prev, .slides .navigation .next{
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: #a5f7b3;
    user-select: none;
    transition: 0.6s ease;
  }
  
  .slides .navigation .prev:hover, .slides .navigation .next:hover{
    background: rgba(0,0,0,1);
  }
  
  @keyframes fade {
    from{opacity: 0.3}
    to {opacity: 1}
  }
  
  @media (max-width: 992px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 18px;
      padding: 13px;
    }
  }
  
  @media (max-width: 768px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 15px;
      padding: 10px;
    }
  }
  
  @media (max-width: 576px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 12px;
      padding: 7px;
    }
  }
  
  @media (max-width: 360px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 11px;
      padding: 6px;
    }
  }
